main {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background: var(--background-color);
}

aside {
    background: var(--text-color);
    width: 100%;
}

.nav__title {
    margin-left: 40px;
    font-family: Poppins;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--background-secondary);
}

.hidden {
    display: none;
}

.fas {
    text-align: center;
    padding-right: 10px;
    width: 28px;
    height: 16px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.items {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--font-menu);
    font-weight: 600;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.items > a {
    padding-left: 10px;
    width: 140px;
    height: 40px;
    border-radius: 13px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    transition: all .2s ease-in-out;
    border: 1px solid transparent;
}

.items > a:hover {
    cursor: pointer;
    background-color: var(--background-secondary);
    color: black;
    border: 1px solid black;
}


li > i {
    padding-right: 10px;
}


@media only screen and (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .parameter {
        width: 300px !important;
    }


    .addTask {
        width: 300px !important;
    }

    .friends__content {
        margin: 0 auto;
    }
    

    .nav__title {
        display: none;
    }
  }