
main {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    background: var(--background-color);
}

aside {
    background: white;
}

.hidden {
    display: none;
}

.fas {
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.items {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--font-menu);
    font-weight: 700;
    transition: all .2s ease-in-out;
}

.items:hover {
    cursor: pointer;
    color: var(--text-color);
    transform: scale(1.1);

}

li > i {
    padding-right: 10px;
}



